@model Entities.Category

@{
    ViewData["Title"] = "UpdateCategory";
}

<h1>UpdateCategory</h1>

<hr/>
<div class="row">
        <form asp-action="UpdateCategory">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Category_id" class="control-label"></label>
            <input asp-for="Category_id" class="form-control" />
            <span asp-validation-for="Category_id" class="text-danger"></span>
    </div>
            <div class="form-group">
                <label asp-for="Category_Name" class="control-label"></label>
                <input asp-for="Category_Name" class="form-control" />
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Type" class="control-label"></label>
                <input asp-for="Category_Type" class="form-control" />
                <span asp-validation-for="Category_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListCategory">Back to List</a>
</div>

